* {
  display: inline-block;
}

html,
body {
  margin: 0;
  padding: 0;
}

.circle {
  left: 5px;
  right: 5px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
}

.square {
  left: 5px;
  right: 5px;
  width: 300px;
  height: 300px;
  position: absolute;
 }

.triangle {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 0 75px 280px 75px;
  position: absolute;
  margin: 0 0 20px 80px;
 }

.triangle-reverse {
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  border-width: 280px 75px 0 75px;
  position: absolute;
  margin: 20px 0 0 80px;
} 

.square-circle-section {
  width: 310px;
  height: 310px;
  position: relative;
  margin-top: 20px;
}

.circle-triangle-section {
  width: 310px;
  height: 310px;
  position: relative;
}

.circle-square-triangle-section {
  height: 310px;
  width: 310px;
  position: relative;
}

.circle-triangle-reverse-section {
  width: 310px;
  height: 310px;
  position: relative;
}

#square-circle .circle {
  background-color: aqua;
  position: absolute;
  z-index: 1;
}

#square-circle .square {
  background-color: red;
  position: absolute;
  }

#circle-triangle .triangle {
  border-color: transparent transparent #2fe20b transparent;
  z-index: 1;
}

#circle-triangle .circle {
  background-color: rgb(230, 22, 119);
  position: absolute;
}

#circle-triangle-reverse .triangle-reverse {
  border-color: #007bff transparent transparent transparent;
  z-index: 1;
}

#circle-triangle-reverse .circle { 
  background-color: olive;
 }

#circle-square-triangle .square {
  background-color: rgb(199, 63, 63);
  z-index: 1;
}

#circle-square-triangle .triangle{
  border-color: transparent transparent yellow transparent;
  z-index: 3;
}

#circle-square-triangle .circle {
  background-color: palevioletred;
  z-index: 2;
}

#circle-square-triangle .triangle-reverse {
  border-color: #007bff transparent transparent transparent;
   z-index: 4; 
} 