* {
  margin: 0;
  padding: 0;
}
 main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
 }
.square-circle-section {
  position: relative;
  border: 1px solid black;
  height: 310px;
  width: 310px;
  }
.square {
  border: 1px solid red;
  height: 300px;
  width: 300px;
  top: 5px;
  left: 5px;
  background-color: aqua;
  position: absolute;
  z-index: 1;
}
.circle {
  border: 1px solid blue;
  height: 300px;
  width: 300px;
  top: 5px;
  left: 5px;
  position: absolute;
  background-color: brown;
  border-radius: 50%;
  z-index: 2;
}
.circle-triangle-section {
  position: relative;
  border: 1px solid black;
  height: 310px;
  width: 310px;
}
.triangle {
  width: 0;
  height: 0;
  top: 4px;
  left: 5px;
  border-style: solid;
  border-width: 0 150px 300px 150px;
  border-color: transparent transparent #007bff transparent;
  position: absolute;
  z-index: 3;
  
  }
#circle-triangle .circle {
  z-index: 2;
}
.circle-triangle-section-reverse {
  border: 1px solid black;
  height: 310px;
  width: 310px;
  position: relative;
}
.triangle-reverse {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 300px 150px 0 150px;
  border-color: blueviolet transparent transparent transparent;
  position: absolute;
  z-index: 3;
  top: 155px;
  left: 5px;
}
#circle-triangle .circle {
  background-color: bisque;
}
.circle-square-triangle-section {
  position: relative;
  border: 1px solid black;
  height: 310px;
  width: 310px;
  }