.section-block {
  position: relative;
  border: 1px solid black;
  width: 310px;
  height: 310px;
  margin: 0 auto;
}

.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  top: 6px;
  left: 6px;
}

.square {
  position: absolute;
  background-color: gray;
  top: 5px;
  left: 5px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.square-circle-section .circle {
  background-color: brown;
  z-index: 1;
}

.circle-triangle-section .circle {
  background-color: teal;
  border: 1px solid black;
}

.triangle {
  width: 0px;
  height: 0px;
  top: 5px;
  left: 16px;
  position: absolute;
  border-style: solid;
  border-width: 0 140px 200px 140px;
}

.circle-triangle-section .triangle {
  border-color: transparent transparent #fa0a0a transparent;
  z-index: 2;
}

.circle-tringle-reverse .circle {
  background-color: #35567a;
}

.triangle-reverse {
  width: 0px;
  height: 0px;
  bottom: 5px;
  left: 15px;
  position: absolute;
  border-style: solid;
  border-width: 200px 140px 0 140px;
}

.circle-tringle-reverse .triangle-reverse {
  border-color: #65abf5 transparent transparent transparent;
  z-index: 2;
}

.circle-square-triangle-section .square {
  background-color: #287556;
  z-index: 1;
}

.circle-square-triangle-section .circle {
  background-color: #fff;
  z-index: 2;
}

.circle-square-triangle-section .triangle {
  border-color: transparent transparent #82f0c8 transparent;
  z-index: 3;
}

.circle-square-triangle-section .triangle-reverse {
  border-color: #9ef5d5 transparent transparent transparent;
  z-index: 4;
}
